<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoWebShopSuite">
    <parameter name="browserName" value="chrome"/>
    <parameter name="url" value="https://demowebshop.tricentis.com/"/>

    <test name="DemoWebShopTest">
        <classes>
            <class name="com.web.DemoWebShopTest"/>
        </classes>
    </test>
</suite>
